<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="https://db.onlinewebfonts.com/c/47d92bf6ae3dd16b9babdb8a7580be85?family=DIN+Next+LT+Arabic+Heavy" rel="stylesheet">
  <link href="https://db.onlinewebfonts.com/c/47d92bf6ae3dd16b9babdb8a7580be85?family=DIN+Next+LT+Arabic+Heavy" rel="stylesheet"> -->
  <link rel="stylesheet" href="./../../static/sdaia_css/styles.css">
  <title>SDAIA Academy - Certificate of completion</title>
</head>
<body>
  <div class="certificate-wrapper">
    <div class="certificate-header">
      <div class="certificate-header-col">
        <img src="./../../static/images/SDAIA-Academy-logo.svg" class="sdaia-academy-logo" width="195" alt="SDAIA Academy Logo">
        <img src="./../../static/images/main.svg" width="132" alt="SDAIA Academy Main">
      </div>
      <div class="certificate-header-col">
        <img src="./../../static/images/SDAIA-logo.svg" width="158" alt="SDAIA Logo">
      </div>
    </div>
    <div class="certificate-body">
      <div class="certificate-heading text-primary">
        <h1>شهادة إتمام</h1>
        <strong class="subtitle">CERTIFICATE OF COMPLETION</strong>
      </div>
      <div class="certificate-main">
        <h2 class="main-title">: الهيئة السعودية للبيانات والذكاء الاصطناعي ( سدايا ) تمنح</h2>
        <p class="text-secondary">${accomplishment_copy_name}</p>
        <h2 class="sub-title">هذه الشهادة وذلك لإتمام البرنامج التدريبي </h2>
        <p class="text-secondary">${accomplishment_copy_course_name}</p>
        <p class="limited-text"> ومدته<span class="text-secondary">${course_duration} ساعات تدريبية </span> بتاريخ <span class="text-secondary">${certificate_date_issued}</span></p>
        <p>مع تمنياتنا بدوام التوفيق والنجاح</p>
        <p>أكاديمية سدايا</p>
      </div>
    </div>
  </div>
</body>
</html>
