<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SDAIA Academy - Certificate of completion</title>
        <style>
            @media print { 
                @page {
                    size: A3 landscape;
                }
            }
        </style>
    </head>
    <body>
        <div class="certificateWrapper" style="font-family:Diodrum" dir="ltr">
            <div class="certificateWrapper__header">
                <img
                    src="./../../static/images/SDAIA-Academy-logo.svg"
                    class="sdaia-academy-logo"
                    alt="SDAIA Academy Logo"
                />
                <img src="./../../static/images/SDAIA-logo.svg" class="sdaia-logo" alt="SDAIA Logo" />
            </div>
            <div class="certificateWrapper__bodywraper">
                <div class="certificateWrapper__topWrapper">
                    <h1 class="certificateWrapper__mainTitleWrap">
                        <div class="certificateWrapper__titleAr diodrumFontFamily"><strong> شهادة إتمام دورة تدريبية </strong></div>
                        <div class="certificateWrapper__title"> Training Course Completion Certificate </div>
                    </h1>

                    <div class="certificateWrapper__subTitleWrap">
                        <div class="certificateWrapper__subTitleBody">
                            <div class="certificateWrapper__subTitle stronger">
                                Saudi Data and AI Authority (SDAIA) Certifies that
                            </div>
                            <div class="certificateWrapper__subTitleAR text-align diodrumFontFamily stronger">
                                الهيئة السعودية للبيانات والذكاء الاصطناعي ( سدايا ) تمنح
                            </div>
                        </div>
                        <div class="certificateWrapper__personWrap">
                            <label class="certificateWrapper__personName primary-color stronger">${accomplishment_copy_name} </label>
                            <label class="certificateWrapper__personName diodrumFontFamily primary-color stronger">
                                ${accomplishment_copy_name_arabic}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="certificateWrapper__body">
                    <div class="certificateWrapper__listWraper">
                        <div class="certificateWrapper__valueListWrap">
                            <div class="certificateWrapper__list">
                                <span> Has Completed the Training Course </span>
                                <span class="diodrumFontFamily text-align"> شهادة إتمام الدورة التدريبية </span>
                            </div>
                            <div class="certificateWrapper__innerDetailWrap">
                                <label class="certificateWrapper__valueName">
                                    <strong>${accomplishment_copy_course_name}</strong>
                                </label>
                                <label class="certificateWrapper__valueName text-align diodrumFontFamily">
                                    <strong>${accomplishment_copy_arabic_course_name}</strong>
                                </label>
                            </div>
                        </div>
                        <div class="certificateWrapper__valueListWrap">
                            <div class="certificateWrapper__list">
                                <span class="flex-small">
                                    Consisting of
                                    <span class="">(<strong>${course_duration}</strong>)</span>
                                    hours</span
                                >
                                <span class="flex-small diodrumFontFamily text-align"
                                    >ساعة تدريبية<span class=" diodrumFontFamily"
                                        >(<strong>${arabic_course_duration}</strong>)</span
                                    >بمعدل
                                </span>
                            </div>
                            <div class="certificateWrapper__innerDetailWrap">
                                <label class="certificateWrapper__valueName flex-small">
                                    <span class="black-color">on</span>
                                    <span class="">${certificate_date_issued}</span>
                                </label>
                                <label class="certificateWrapper__valueName flex-small">
                                    <span class=" diodrumFontFamily">${arabic_certificate_date_issued}</span>
                                    <span class="black-color diodrumFontFamily">بتاريخ</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
