<%inherit file="base.html" />
<%namespace name='static' file='static_content.html'/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>

<%def name="online_help_token()"><% return "home" %></%def>
<%block name="title">${_("{studio_name} Home").format(studio_name=settings.STUDIO_SHORT_NAME)}</%block>
<%block name="bodyclass">is-signedin index view-dashboard</%block>

<%block name="header_extras">
    <link rel="stylesheet" type="text/css" href="${static.url('css/studio-main-v1.css')}" />
</%block>

<%block name="content">
    <div id="root" class="container">
        hello
    </div>

    <%static:webpack entry="GoogleCDNUpload">
        var context = {}

        new GoogleCDNUpload(context);
    </%static:webpack>
</%block>
