<div style="margin: 0; outline: 2px dashed purple; padding: 20px;">
    <div>
      <h1>Chatly</h1>
      <h2>AI Assistant</h2>
      <a href="${settings.CHATLY_FRONTEND_ORIGIN}" style="float: right;">Learn More</a>
    </div>
    <section >
      <p>Link with Chatly to embed chatbot in your courses</p>
      <button id="firstModalBtn" onClick="openFirstModal();">Linked With Chatly</button>
    </section>
</div>

<div id="firstModal" class="modal" style="display: none;">
    <div class="modal-content" style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%;">
      <div class="container" style="width: 80%; max-width: 500px; margin: 50px auto; text-align: center;">
        <div class="header" style="font-size: 24px; margin-bottom: 20px;">Confirmation</div>
        <div class="subheader" style="font-size: 16px; color: #aaa; margin-bottom: 10px;">1/2</div>
        <div class="logo" style="height: 50px; margin-bottom: 20px;"></div>
        <div class="info" style="margin-bottom: 20px;">
          arbisoft + chatly<br>
          Chatly wants to use your basic profile information
        </div>
        <div class="card-footer d-flex justify-content-center">
            <input type="checkbox" id="termsCheckbox" name="terms" onChange="terms();">
            <label for="terms">Agree with Terms & Conditions</label>
            <button type="button" class="btn btn-secondary" onClick="closeFirstModal();">I WILL USE THIS LATER</button>
            <button type="button" id="myButton" class="btn btn-primary" onClick="openSecondModal();" disabled>ALLOW</button>
          </div>
      </div>
    </div>
</div>

<div id="secondModal" class="modal" style="display: none;">
    <div class="modal-content" style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%;">
      <div class="container" style="width: 80%; max-width: 500px; margin: 50px auto; text-align: center;">

        <h1>Bot Configurations</h1>
        <p>1/2</p>
        <h2>Add ChatGPT API key</h2>
        <p>Learn more about creating OpenAl account and getting your API key</p>
        <form>
          <label for="apiKey">API Key*</label>
          <input type="text" id="apiKey" name="apiKey" placeholder="Sk-... W7qJ">
        </form>

        <div class="card-footer d-flex justify-content-center">
            <button type="button" onClick="closeSecondModal();">CANCEL</button>
          <button type="button" onClick="integrateChatly();">START USING CHATLY</button>
          </div>
      </div>
    </div>
</div>

<script>

    const firstModal = document.getElementById('firstModal');
    const secondModal = document.getElementById('secondModal');

    function terms(){
        const checkbox = document.getElementById('termsCheckbox');
        const btn = document.getElementById('myButton');
        btn.disabled = !checkbox.checked;
    }
    function openFirstModal(){
        firstModal.style.display = 'block';
    }
    function closeFirstModal(){
        firstModal.style.display = 'none';
    }
    function openSecondModal(){
        secondModal.style.display = 'block';
    }
    function closeSecondModal(){
        secondModal.style.display = 'none';
        firstModal.style.display = 'none';
    }

    function integrateChatly(){
        closeSecondModal();
        const url = `http://localhost:8000/api/edly/integrate/`;
        const ai_api_key = document.getElementById('apiKey').value;
        requestData = { email: "${user.email}", org: "${sub_org}", api_key: ai_api_key}
        fetch(url, {
            method: 'POST',
            headers: {
                'Authorization': 'Bearer ' + "${chatly_token}",
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(requestData)
        }).then(resp => location.reload())
    }
</script>
