
// Digital Locker Styling
.digital-locker-container {
  @include float(right);
  position: relative;

  .digital-locker-dropdown {
    @include float(right);
    cursor: pointer;
    padding: 13px;
    color: black;
    outline: none;

    &:hover {
      color: gray;
    }
  }

  .file-viewer-container {
    @include right(0);
    top: $baseline*2;
    z-index: 100;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: absolute;
    background: white;
    display: none;

    .file-viewer {
      position: relative;
      padding: $baseline;

      iframe {
        width: 600px;
        height: 400px;
      }

      .close {
        position: absolute;
        top: $baseline/4;
        right: $baseline/4;
        color: black;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          color: gray;
        }
      }
    }
  }
}

// Styling for digital locker on course page
.course-view {
  .locker-description {
    width: 100%;
    padding: 20px 10px;

    h1 {
      text-align: left !important;
      margin-bottom: $baseline/2;
    }
  }

  .digital-locker {
    border: 1px solid gray;
    padding: 5px 8px 5px 4px;
    width: 100%;
    border-radius: 5px;

    .locker {
      iframe {
        width: 100%;
        height: 400px;
      }
    }
  }

}


// Styling for the shared digital locker
.digital-locker {

}

