## Override the default styles_version to the Pattern Library version (version 2)
<%! main_css = "style-learner-dashboard" %>

<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%def name="online_help_token()"><% return "journals" %></%def>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML
%>

<%block name="pagetitle">${_("Journals")}</%block>

<!--TODO: update the navigation dashboard -->
<!--TODO: make programs.html be used for both of these cases -->
<%include file="_dashboard_navigation_programs.html"/>

<main id="main" aria-label="Content" tabindex="-1">
  ${HTML(journals_fragment.body_html())}
</main>
