## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>
<%!
from openedx.core.djangolib.js_utils import (
    dump_js_escaped_json, js_escaped_string
)
%>

  <div class="journal-container">


    <div class="my-courses" id="my-courses">

      % if len(journals) > 0:
      <ul class="listing-courses">
        % for journal in journals:
        <li class="course-item">


            <div class="course-container">
            <article class="course" aria-labelledby="" id="course-card-${journal['uuid']}">
              
              <section class="details" aria-labelledby="details-heading-${journal['uuid']}">
                <h2 class="hd hd-2 sr" id="details-heading-${journal['uuid']}">$_('Journal details')}</h2>
                <div class="wrapper-course-image" aria-label="true">
                  <a href="${journal['url']}" class="cover" tabindex="-1">
                  ${journal['url']}</a>
                </div>
                <div class="wrapper-course-details">
                  <h3 class="course-title" id="course-title-${journal['uuid']}" href="${journal['url']}">
                    <a data-course-key="${journal['uuid']}">${journal['journal']['name']}</a>
                  </h3>
                </div>
              </section>
            </article>
          </div>

        </li>
        % endfor
      </ul>
      % endif
    </div>

  </div>
