## mako
<%page expression_filter="h"/>
<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>

<%!
import json
from django.utils.translation import ugettext as _
from django.template.defaultfilters import escapejs

from django_comment_client.permissions import has_permission
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML
from openedx.features.course_experience import course_home_page_title
%>

<%block name="content">
<div class="course-view container" id="course-container">
    <header class="page-header has-secondary">
        ## Breadcrumb navigation
        <div class="page-header-main">
            <nav aria-label="${_('Digital Locker')}" class="sr-is-focusable" tabindex="-1">
                <div class="has-breadcrumbs">
                    <div class="breadcrumbs">
                        <span class="nav-item">
                            <a>Course Name Goes Here</a>
                        </span>
                        <span class="icon fa fa-angle-right" aria-hidden="true"></span>
                        <span class="nav-item">${_('Digital Locker')}</span>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="page-content">
        <div class="locker-description">
            <h1>Digital Locker</h1>
            <p>The digital locker contains all files added by the course author. You can only access these files as a verified user, or you can purchase the files below.</p>
        </div>
        ${HTML(digital_locker_fragment.body_html())}
    </div>
</div>
</%block>