@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('./fonts/DIN-Next-LT-Arabic-Medium.woff2') format('woff2'),
       url('./fonts/DIN-Next-LT-Arabic-Medium.woff') format('woff'),
       url('./fonts/DIN-Next-LT-Arabic-Medium.ttf') format('truetype'),
       url('./fonts/DIN-Next-LT-Arabic-Medium.eot') format('truetype'),
       url('./fonts/DIN-Next-LT-Arabic-Medium.svg#din-next-lt-arabic-medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('./fonts/DIN-Next-LT-Arabic-Bold.woff2') format('woff2'),
       url('./fonts/DIN-Next-LT-Arabic-Bold.woff') format('woff'),
       url('./fonts/DIN-Next-LT-Arabic-Bold.ttf') format('truetype'),
       url('./fonts/DIN-Next-LT-Arabic-Bold.eot') format('truetype'),
       url('./fonts/DIN-Next-LT-Arabic-Bold.svg#din-next-lt-arabic-bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  background: #030318;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: 500;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

.hidden,
[hidden] {
  display: none;
}

body {
  margin: 0;
  color: #1c355e;
  background: #030318;
  font-family: 'DIN Next LT Arabic', 'Open Sans', Arial, sans-serif;
  font-weight: 500;
}

.text-primary {
  color: #31b994;
}

.text-secondary {
  color: #ea6852;
}

.sdaia-academy-logo {
  margin-right: 19px;
}

.certificate-wrapper {
  background: url(../images/certificate-bg.png)  no-repeat;
  background-size: 100% 100%;
  padding: 174px 11.9% 179px;
  margin: 0 auto;
}

.certificate-header {
  overflow: hidden;
  padding: 0 0 66px;
}

.certificate-header img {
  vertical-align: middle;
}

.certificate-header-col {
  float: right;
  padding: 0 12px 0 0;
}

.certificate-header-col:first-child {
  float: left;
  padding: 2px 0 0 115px;
}

.certificate-heading {
  padding: 0 0 33px;
}

.certificate-heading h1 {
  font-size: 71px;
  margin: 0 0 17px;
}

.certificate-heading .subtitle {
  display: block;
  font-size: 27px;
  margin: 0 0 30px;
}

.certificate-body {
  text-align: center;
}

.certificate-main { overflow: hidden; }

.certificate-main p,
.certificate-main h2 {
  margin: 0 0 30px;
  font-size: 38px;
  font-weight: 500;
}

.certificate-main .main-title {
  margin: 0 0 34px;
}

.certificate-main .sub-title {
  margin: 0 0 34px;
}

.certificate-main .limited-text {
  max-width: 900px;
  margin: 0 auto 97px;
  text-align: right;
}

.limited-text .text-secondary {
  margin: 0 13px;
}
