{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% blocktrans %}
                    Hi {{full_name}},
                {% endblocktrans %}
            </h1>

            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}{{ change_type }}: <b>{{ display_name }}</b> has been updated in course:  <b>{{ course_name }}</b>.{% endblocktrans %}
                <br />
            </p>

            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}Your can view the {{ change_type }} changes here: {{ change_url }}{% endblocktrans %}
                <br />
            </p>

            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}
                    Thanks,
                {% endblocktrans %}
                <br/>
                {% blocktrans %}
                    LUMS ELM training team
                {% endblocktrans %}
                <br />
            </p>
        </td>
    </tr>
</table>
{% endblock %}
