<%! from django.utils.translation import ugettext as _ %>

<div
    id="word_cloud_${element_id}"
    class="${element_class}"
    data-ajax-url="${ajax_url}"
>

    <div class="input_cloud_instructions" id="word_cloud_${element_id}_instructions">
        ${instructions}
    </div>

    <div class="input_cloud_section" role="group">
        % for row in range(num_inputs):
            <label for="word_cloud_${element_id}_input_${row}" class="sr">${_('Word')} ${row + 1} ${_('of')} ${num_inputs}</label>
            <input
                id="word_cloud_${element_id}_input_${row}"
                class="input-cloud"
                ${'style="display: none;"' if submitted else ''}
                type="text"
                size="40"
                aria-describedby="word_cloud_${element_id}_instructions"
            />
        % endfor

        <div class="action">
            <input class="save" type="button" value="${_('Save')}" />
        </div>
    </div>

    <div id="result_cloud_section_${element_id}" class="result_cloud_section">
        <h3>${_('Your words:')} <span class="your_words"></span></h3>
        <h3>${_('Total number of words:')} <span class="total_num_words"></span></h3>
        <div class="word_cloud"></div>
    </div>

</div>
