{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <p>{% blocktrans %}Dear {% endblocktrans %}{{ full_name }},</p>

            <p>{% blocktrans %}You have successfully registered for the following event. {% endblocktrans %}</p>

            <ul>
                <li><span style="font-weight:bold">Event Name: </span>{{ display_name }}</li>
                <li><span style="font-weight:bold">Event Date: </span>{{ event_info }}</li>
            </ul>

            <p>{% blocktrans %} Don't forget to mark your calendar <a href="{{ event_url }}">Download File (ics)</a>{% endblocktrans %}.</p>

            <p>{% blocktrans %}Sign in to your Training portal to view dashboard. {% endblocktrans %}</p>
            <a
                href="{{ dashboard_url }}"
                class="blue pull-right"

                style="
                    color: #ffffff;
                    text-decoration: none;
                    border-radius: 4px;
                    -webkit-border-radius: 4px;
                    -moz-border-radius: 4px;
                    background-color: #005686;
                    border-top: 12px solid #005686;
                    border-bottom: 12px solid #005686;
                    border-right: 50px solid #005686;
                    border-left: 50px solid #005686;
                    display: inline-block;
                "
            >
                {% blocktrans %} <font color="#ffffff"><b>View Dashboard</b></font>{% endblocktrans %}
            </a>

            <p style="color: rgba(0,0,0,.75);">
                {% blocktrans %}This email was automatically sent from {{ platform_name }} to {{ email }}{% endblocktrans %}
                <br />
            </p>

        </td>
    </tr>
</table>
{% endblock %}
