## mako

<%page expression_filter="h"/>

<%namespace name='static' file='../static_content.html'/>

<%!
from django.utils.translation import ugettext as _
%>
% if len(course_credits) > 0:
    <h3 class="hd hd-6 handouts-header">${_("Course Credits")}</h3>
    % for credit in course_credits:
        <p>
            <span class="icon fa fa-chevron-right" aria-hidden="true"></span>
            ${credit.get('credit_type_name')}
            <span>${credit.get('credits')}</span>
        </p>
    % endfor
% endif

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform('.localized-datetime');
</%static:require_module_async>
