{% comment %}
###############################################################################
# Browser Content Snippet
###############################################################################
{% endcomment %}

{% load cloud_browser_extras %}

{% block cloud_browser_content %}
<div id="cloud-browser-all" class="cloud-browser-defaults">
<div id="cloud-browser-objects">
{% if objects %}
<div id="cloud-browser-objects">
  <div>
    {% for obj in objects %}
      <div class="object-container">
        {% if obj.is_subdir %}
            <div class="icon"><img src="{% cloud_browser_media_url 'img/tango/16x16/places/folder.png' %}" /></div>
        {% else %}
            <div class="icon fa fa-close"><img src="{% cloud_browser_media_url 'img/tango/16x16/mimetypes/text-x-generic.png' %}" /></div>
        {% endif %}
          <div class="description">
            {% if obj.is_file %}
            <div class="title file"><a href="{% url "cloud_browser_document" obj.path|urlencode %}"
               >{{ obj.basename }}</a></div>
            {% else %}
            <div class="title link"><a href="{% url "cloud_browser_browser" obj.path|urlencode %}"
                   class="cloud-browser-document-link"
                >{{ obj.basename }}</a></div>
            {% endif %}
            <!--<td>-->
                <!--{% if obj.smart_content_type %}-->
                    <!--{{ obj.smart_content_type }}-->
                <!--{% else %}&#45;&#45;{% endif %}-->
            <!--</td>-->
            <!--<td>-->
                <!--{% if obj.is_file or obj.size > 0 %}-->
                    <!--{{ obj.size|filesizeformat }}-->
                <!--{% else %}&#45;&#45;{% endif %}-->
            <!--</td>-->
            <div class="last_modified">
                {% if obj.last_modified %}
                    {{ obj.last_modified|date:'DATETIME_FORMAT' }}
                {% else %}--{% endif %}
            </div>
          </div>
      </div>
    {% endfor %}
  </div>
</div>
{% else %}
    {% if container %}
        <div class="cloud-browser-empty" colspan="6">
            No objects found in &ldquo;{{ path }}.&rdquo;
        </div>
    {% else %}
        <div class="cloud-browser-empty" colspan="6">
            No container selected. Please click on a container to list
            object contents.
        </div>
    {% endif %}
{% endif %}
</div>
</div>
{% endblock %}